a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.font_b {
  font-family: "SST W55 Bold", sans-serif;
}
.font_r {
  font-family: "SST W55 Regular", sans-serif;
}
.font_device {
  font-family: sans-serif;
}
.transformer {
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  display: block;
}
html {
  font-family: "SST W55 Regular", sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  -webkit-font-smoothing: antialiased;
  background: url(../img/grid@2x.png);
  background-size: 360px 1080px;
  overflow-x: hidden;
}
.show {
  opacity: 1 !important;
}
a,
a:visited {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
}
a:hover {
  opacity: 0.5;
}
#wrap main {
  transition: opacity 1.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  /*opacity: 0*/
}
#wrap main .main_visual #canvasContainer {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
#wrap main .main_visual #canvasContainer .attention {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3rem;
}
#wrap main .main_visual #canvasContainer .attention div {
  width: 11px;
  height: 11px;
  background: url(../img/scroll.png);
  background-size: 44px 44px;
}
#wrap main .main_visual #canvasContainer .attention .icon1 {
  background-position: 0 0;
}
#wrap main .main_visual #canvasContainer .attention .icon2 {
  background-position: 22px -11px;
}
#wrap main .main_visual #canvasContainer .attention .icon3 {
  background-position: 11px -22px;
}
#wrap main .main_visual #canvasContainer .attention .icon4 {
  background-position: 33px -33px;
}
#wrap main .main_visual #canvasContainer .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.4;
}
#wrap main .main_visual #canvasContainer .line img {
  opacity: 0;
  /*margin-left: -31px;*/
  /*margin-top: 27px*/
}
@media (min-width: 751px) {
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
}
@media (max-width: 1279px) and (min-width: 751px) {
  html {
    overflow-x: auto;
  }
  body {
    min-width: 1280px;
  }
}
@media all and (-ms-high-contrast: none) {
  ::-ms-backdrop,
  body {
    background: url(../img/grid.png);
  }
}
@supports (-ms-ime-align: auto) {
  body {
    background: url(../img/grid.png);
  }
}
@media (max-width: 750px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  body {
    background: url(../img/grid_sp@2x.png);
    background-size: 180px;
  }
}
